/ {
    aliases {
        i2c0 = &i2c1;
        vane = &vane;
        compass = &compass;
    };
};

&usart1 {
     status = "okay";
    current-speed = < 115200 >;
};

&i2c1 {
   clock-frequency = <400000>;

   vane: as5600@36 {
        compatible = "ams,as5600";
        friendly-name = "vane";
        reg = <0x36>;
        status = "okay";
   };

   compass: icm20948@68 {
        compatible = "invensense,icm20948";
        friendly-name = "compass";
        reg = <0x68>;
        status = "okay";
        accel-fs = <16>;
        gyro-fs = <2000>;
        mag-freq = <100>;
   };
};
