/ {
    aliases {
        i2c0 = &i2c0;
        led0 = &led0;
        vane = &vane;
    };

    leds {
        compatible = "gpio-leds";
        led0: led_0 {
                gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
                label = "LED_0";
        };
    };
};

&uart1 {
     status = "okay";
    current-speed = < 115200 >;
};

&i2c0 {
   vane: as5600@36 {
        compatible = "ams,as5600";
        friendly-name = "vane";
        reg = <0x36>;
        status = "okay";
   }; 
   
   compass: icm20948@69 {
        compatible = "invensense,icm20948";
        friendly-name = "compass";
        reg = <0x69>;
        status = "okay";
   };
};

