/ {
    aliases {
        board-i2c = &i2c0;
        led0 = &led0;
        vane = &as5600@36;
    };

    leds {
        compatible = "gpio-leds";
        led0: led_0 {
                gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
                label = "LED_0";
        };
    };
};

&uart1 {
     status = "okay";
    current-speed = < 115200 >;
};

&i2c0 {
   as5600@36 {
        compatible = "ams,as5600";
        friendly-name = "vane";
        reg = <0x36>;
        status = "okay";
   }; 
};

